# MongoDB Connection
MONGODB_URI=mongodb+srv://shivaay0071:Ajay_0071@cluster0.jjju29d.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# JWT Secret
JWT_SECRET=0be849aa1bddf0210bbd6108e0bb1880d9b2ff8f449b4e758fb01ec338eef217

# Server Configuration
PORT=5000
NEXTAUTH_URL=http://localhost:3000

# Client-side encryption key (should be different from JWT_SECRET)
ENCRYPTION_KEY=7c9c2d7378ee5cb01b42c4d5547a32dbec1b88497466c2c0fcb0494c0ffe6146
